.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.field{
    width: 1000px;
}

@media (max-width:768px){
    .field{
        width: 1000px;
        float: left;
    }
    
  }