.sidenav-container {
  height: 100%;
  box-shadow:3px 5px 5px rgba(0,0,0,.24);
  
}

.sidenav {
  width: 200px;
  box-shadow:3px 5px 5px rgba(0,0,0,.24);
  font-family: 'Shrikhand', cursive;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

@media (min-width:768px){
  .sidenav{
    display: none;
  }
}

.title{
  font-family: 'Shrikhand', cursive;
}
.coder{
  flex: 1 1 auto;
}