.sidenav-container {
  height: 100%;
  width: 100%;
  box-shadow:3px 5px 5px rgba(0,0,0,.24);
  
}
a {
  text-decoration: none;
  color:white;
  font-size:28px;
}

a:hover{
  color: purple;
}
.container-fluid{
  overflow-x:auto
}

.mat-toolbar.mat-primary {
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

@media (max-width:768px){
  .sidenav-container {
    height: 100%;
    width: 160%;
    overflow-y: visible;
    box-shadow:3px 5px 5px rgba(0,0,0,.24);
    
  }
}

.title{
  font-family: 'Shrikhand', cursive;
}
.coder{
  flex: 1 1 auto;
}
